.catalog {
    padding: var(--big-offset);
}
.container {
}
.catalog__container {
}
.title {
}
.catalog__title {
    margin-bottom: 40px;
}
.catalog__content {
}
.grid {
}
.catalog__left {
    grid-column: 3 span;
    border-radius: 4px;
    background-color: var(--color-bg);
    padding: 20px;
}
.catalog__subtitle {
    font-size: 24px;
    color: var(--color-main);
    font-family: 'Intro-book', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.catalog__prop {
    margin-bottom: 20px;
    &-checkbox{
        display: flex;
        justify-content: space-between;
    }
}
.catalog__caption {
    display: block;
    margin-bottom: 10px;
    font-family: 'Intro-book', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-main);
}
.catalog-price {
}
.catalog__prop-inner {
}
.catalog-price__input {
}
.catalog-price__element {
}
.custom-chekbox {
    position: relative;
}
.custom-checkbox__field {
    appearance: none;
    position: absolute;
}
.custom-chekbox__content {
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Intro-book';
    font-weight: 400;
    color: var(--color-main);
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: -3px;
        border: 1px solid var(--color-camel);
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }
    &::after{
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url("../../img/icons/chek.svg");
        background-position: center;
        background-size: 15px 12px;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacite 0.2s ease-in-out;
    }
}
.custom-checkbox__field:checked + .custom-chekbox__content::after{
    opacity: 1;
}
.custom-checkbox__field:disabled + .custom-chekbox__content {
    opacity: 0.4;
    pointer-events: none;
  }
.sizes-table {
}

.btn--secondary {
}
.catalog__reset {
}

.catalog__grid {
    grid-column: 9 span;
}

.catalog-list {
    grid-template-columns: repeat(9, 1fr);
}

.catalog-list__item {
    grid-column: 3 span;
}
.product {
    border-radius: 4px;
}

.product:hover .product__btns{
    opacity: 1;
    visibility: visible;
}
.product__image {
    position: relative;
    width: 100%;
    max-height: 293px;
    margin-bottom: 10px;
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.product__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.product__btn {
    background-color: var(--color-main);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 0;
    transition: all 0.3s ease-in-out;
    svg{
        width: 30px;
        height: 30px;
    }
    &:hover{
        background-color: var(--color-main-hover);
    }
    &:first-child{
        margin-right: 40px;
    }
}
.product__title {
    font-family: 'Intro-book', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-main);
    margin-bottom: 10px;
}
.product__price {
    font-size: 20px;
    font-family: 'Intro';
    font-weight: 400;
    color: var(--color-main);
}