.catalog {
  padding: var(--big-offset);
}

.catalog__title {
  margin-bottom: 40px;
}

.catalog__left {
  grid-column: 3 span;
}

.catalog-filters {
  border-radius: 4px;
  background-color: var(--color-bg);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__subtitle {
  font-size: 24px;
  color: var(--color-main);
  font-family: 'Intro-book', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.catalog__prop {
  margin-bottom: 20px;
}

.catalog__prop-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__caption {
  display: block;
  margin-bottom: 10px;
  font-family: 'Intro-book', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-main);
}

.catalog-price__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-price__wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 34px;
  width: 1px;
  background-color: #B2B5BB;
}

.catalog-price__input {
  width: 50%;
  height: 50px;
  border: 1px solid #B2B5BB;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-family: 'Intro-book';
  text-align: center;
}

.catalog-price__input:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.catalog-price__input:last-child {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.catalog-price__element {
  position: relative;
}

.slider-range {
  position: relative;
  z-index: 1;
  height: 4px;
}

.slider-range > .track {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #444B58;
}

.slider-range > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  background-color: turquoise;
}

.slider-range > .thumb {
  position: absolute;
  z-index: 3;
  width: 5px;
  height: 20px;
  background-color: var(--color-main);
}

.slider-range > .thumb.left {
  left: 25%;
  -webkit-transform: translate(0px, -7px);
          transform: translate(0px, -7px);
}

.slider-range > .thumb.right {
  right: 25%;
  -webkit-transform: translate(0px, -7px);
          transform: translate(0px, -7px);
}

input[type=range] {
  position: absolute;
  z-index: 2;
  height: 4px;
  width: 100%;
}

#input-left {
  top: -50px;
}

#input-right {
  top: -30px;
}

.custom-chekbox {
  position: relative;
}

.custom-checkbox__field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.custom-chekbox__content {
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Intro-book';
  font-weight: 400;
  color: var(--color-main);
}

.custom-chekbox__content::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  border: 1px solid var(--color-camel);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.custom-chekbox__content::after {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../img/icons/chek.svg");
  background-position: center;
  background-size: 15px 12px;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacite 0.2s ease-in-out;
  transition: opacite 0.2s ease-in-out;
}

.custom-checkbox__field:checked + .custom-chekbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:disabled + .custom-chekbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.sizes-table {
  width: 100%;
  border-collapse: collapse;
}

.sizes-table caption {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.sizes-table td {
  cursor: pointer;
  border: 1px solid #DBBBA9;
  padding: 17px 5px;
  text-align: center;
  color: var(--color-main);
  font-family: 'Intro-book';
  font-weight: 400;
  font-size: 16px;
}

.btn--secondary {
  padding: 22px 0;
  color: var(--color-white);
  background-color: var(--color-main);
  font-size: 16px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn--secondary:hover {
  background-color: #31343C;
}

.catalog__reset {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-main);
  cursor: pointer;
}

.catalog__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 9 span;
}

.catalog-list {
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.catalog-list__item {
  grid-column: 3 span;
}

.product {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.product:hover .product__btns {
  opacity: 1;
  visibility: visible;
}

.product__image {
  position: relative;
  width: 100%;
  max-height: 293px;
  margin-bottom: 10px;
}

.product__image img {
  display: block;
  width: 100%;
  height: 293px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__btns {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product__btn {
  background-color: var(--color-main);
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product__btn svg {
  width: 30px;
  height: 30px;
}

.product__btn:hover {
  background-color: var(--color-main-hover);
}

.product__btn:first-child {
  margin-right: 40px;
}

.product__btn--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.product__title {
  font-family: 'Intro-book', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-main);
  margin-bottom: 10px;
}

.product__price {
  font-size: 20px;
  font-family: 'Intro';
  font-weight: 400;
  color: var(--color-main);
  margin-top: auto;
}

.catalog__btn-show {
  margin-top: 40px;
}
/*# sourceMappingURL=catalog.css.map */